version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/anket_quiz
    depends_on:
      - mongodb
    networks:
      - anket-network

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - anket-network

networks:
  anket-network:
    driver: bridge

volumes:
  mongo-data:
